h2 {
    text-align: center;
    margin-top: 60px;
    font-size: 2em;
}

table {
    margin: 80px auto;
}

td {
    width: 150px;
    height: 150px;
}

.vertical {
    border-left: 2px solid black;
    border-right: 2px solid black;
}

.horizontal {
    border-top: 2px solid black;
    border-bottom: 2px solid black; 
}