*{
    padding: 0;
    margin: 0;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; 
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 10rem;
    
    
}

h2 {
    font-size: 3rem;
    font-family: 'Caveat', cursive;
    margin-left: 5rem;
    padding: 2rem;
    border-bottom: .3rem solid gray;
    
    flex-basis: 30%;
}

img {
    height: 25rem;
    width: 45rem;
    margin: 1.4rem;
    border-radius: 7px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.row {
    flex-shrink: 1;
    flex-grow: 1
}

@media (max-width: 1500px) {
    .container {
       
        display: flex;
        flex-direction: row;
    }
}